img {
    width: 100%;
    height: 80%;
}

table,
tr > * {
    border: 1px solid;
    margin: 1rem;
}

.wov{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/mountain-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kkut{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/view-12.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.russia{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/mountain-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kku{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/view-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ml{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/mountain-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mh{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/bazar-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tsr{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/bazar-0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pou{
    height: 100vh;
    background-image: linear-gradient(
        rgba(45, 92, 132, 0.5),
        rgba(45, 92, 132, 0.5)
    ),
    url("images/view-13.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}